.caret {
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: grey;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  content: "\25B6";

  display: inline-block;
  color: green;
  transform: rotate(90deg);
}


